<h3>รายงานปัญหาของผู้ใช้ทั่วไป</h3>
<nav class="nav">
    <a class="nav-link active" routerLink="/reportuser" href="#">User</a>
    <a class="nav-link active" routerLink="/reportexpert"href="#">Expert</a>
  </nav>
  <br>
<table class='table'>
<thead>
<tr>
<td>Action</td>
<td>เรื่อง</td>
<td>Email</td>
</tr>
</thead>
<tbody>
<tr *ngFor="let data of ReportFromUser">
<td>
<button type="button" (click)="deluser(data)" >Delete</button>
</td>
<td>{{data.value.Phone}}</td>
<td>{{data.value.Email}}</td>
</tr>
</tbody>
</table>







